@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@1,700&family=Fira+Sans:wght@200&family=Homemade+Apple&family=Mouse+Memoirs&family=Poppins:ital,wght@1,300&family=Work+Sans:wght@300&display=swap');


.App {
    min-height: 100vh;
    display: flex;
    background-image: url('./images/img.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}